@using System.Globalization
@using System.Linq;
@using BoardGameCollection.Web.Views

@model BoardGameCollection.Web.Models.OwnedGamesList

@{
    var owners = string.Join(" und ", Model.Owners);
    ViewBag.Title = "Spiele: " + owners;
}

<h2>Spiele von @owners</h2>

<table class="game-table">
    @foreach (var yearGroup in Model.GroupBy(p => new { Year = p.BoardGame.YearPublished }).OrderByDescending(group => group.Key.Year))
    {
        var headerModel = new GameTableGroupHeaderModel(yearGroup.Key.Year.ToString());
        <partial name="_GameTableGroupHeader" model="headerModel" />
        @foreach (var ownedGame in yearGroup.OrderByDescending(p => p.BoardGame.AverageRating))
        {
            <tr>
                @{ var rowspan = ownedGame.Expansions.Count + 1; }
                <td rowspan="@rowspan" style="vertical-align:top">
                    <a href="@ownedGame.BoardGame.ImageUri" target="_blank">
                        <img src="@ownedGame.BoardGame.ThumbnailUri" />
                    </a>
                </td>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <a target="_blank" href="http://boardgamegeek.com/boardgame/@ownedGame.BoardGame.Id" style="text-decoration: none">@Html.DisplayFor(modelItem => ownedGame.BoardGame.Title)</a> (@string.Format(CultureInfo.InvariantCulture, "{0:0.00}", ownedGame.BoardGame.AverageRating))
                            </td>
                            <td style="text-align: right">
                                @foreach (var owner in ownedGame.Owners)
                                {
                                    <a target="_blank" href="http://www.boardgamegeek.com/collection/user/@owner" style="text-decoration: none"><small>@owner</small></a><br />
                                }
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <partial name="_PlayerNumbers" model="ownedGame.BoardGame" />
                </td>
            </tr>
            foreach (var ownedExpansion in ownedGame.Expansions)
            {
                <tr>
                    <td>
                        <small><a target="_blank" href="http://boardgamegeek.com/boardgame/@ownedExpansion.BoardGame.Id" style="text-decoration: none">@ownedExpansion.BoardGame.Title</a> (@string.Format(CultureInfo.InvariantCulture, "{0:0.00}", ownedExpansion.BoardGame.AverageRating))</small>
                    </td>
                    <td>
                        @{
                            var testViewData = new ViewDataDictionary(ViewData) { { "reduced", true } };
                        }
                        <partial name="_PlayerNumbers" model="ownedExpansion.BoardGame" view-data="testViewData" />
                    </td>
                </tr>
            }
        }
    }

</table>
