@using System.Globalization
@using System.Linq;
@using BoardGameCollection.Web.Views

@model List<BoardGameCollection.Core.Models.BoardGamePlay>

@{
    ViewBag.Title = "Gespielt";
}

<h2>Gespielt</h2>

<table class="game-table">
    @foreach (var dayGroup in Model.GroupBy(p => p.Play.Date.Date).OrderByDescending(group => group.Key))
    {
        var headerModel = new GameTableGroupHeaderModel(dayGroup.Key.ToString("D"), right: "Ort");
        <partial name="_GameTableGroupHeader" model="headerModel" />
        @foreach (var boardGamePlay in dayGroup.OrderByDescending(p => p.Play.Date))
        {
            <tr>
                <td style="vertical-align:top">
                    <a href="@boardGamePlay.BoardGame.ImageUri" target="_blank">
                        <img src="@boardGamePlay.BoardGame.ThumbnailUri" />
                    </a>
                </td>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <a target="_blank" href="http://boardgamegeek.com/boardgame/@boardGamePlay.BoardGame.Id" style="text-decoration: none">@Html.DisplayFor(modelItem => boardGamePlay.BoardGame.Title)</a> (@string.Format(CultureInfo.InvariantCulture, "{0:0.00}", boardGamePlay.BoardGame.AverageRating))
                                <br />
                                @if (boardGamePlay.Play.Comments != null)
                                {
                                    <span>@boardGamePlay.Play.Comments</span>
                                    <br />
                                }
                                @if (boardGamePlay.Play.Quantity > 1)
                                {
                                    <span>@boardGamePlay.Play.Quantity Runden</span>
                                    <br />
                                }
                                @{
                                    var anyScore = boardGamePlay.Play.Players.Any(p => p.Score.HasValue && p.Score != 0);
                                    var playersOrdered = boardGamePlay.Play.Players.OrderByDescending(p => p.Win).ThenByDescending(p => p.Score).ToList();
                                    var last = playersOrdered.Last();
                                }
                                @foreach (var player in playersOrdered)
                                {
                                    var scoreDisplay = $"{player.Score:0.}";
                                    if (player.Username != null)
                                    {
                                        <a target="_blank" href="http://www.boardgamegeek.com/collection/user/@player.Username" style="text-decoration: none">
                                            <span class="small@(player.Win ? " bold" : "")">@player.Name</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="small@(player.Win ? " bold" : "")">@player.Name</span>
                                    }
                                    if (anyScore)
                                    {
                                        <smaller class="smaller@(player.Win ? " bold" : "")">@scoreDisplay</smaller>
                                    }
                                    if (player != last)
                                    {
                                        <span>-</span>
                                    }
                                }
                            </td>
                            <td style="text-align: right">
                                
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <span class="small">@boardGamePlay.Play.Location</span>
                    @*<br />
                    <a class="small" href="https://boardgamegeek.com/play/details/@boardGamePlay.Play.Id">Details</a>*@
                </td>
            </tr>
        }
    }

</table>
