@using System.Globalization
@using System.Linq;
@using BoardGameCollection.Web.Views

@model IEnumerable<BoardGameCollection.Core.Models.WantToPlayGame>

@{
    var owners = string.Join(" und ", Model.Select(o => o.Owner).Distinct());
    ViewBag.Title = "Spielewünsche: " + owners;

    var wantGroupings = Model.GroupBy(wantToPlayGame => wantToPlayGame.BoardGame.Id);
    var gamePlayWantages = new List<BoardGameCollection.Web.Models.GamePlayWantage>();
    foreach (var wantGroup in wantGroupings)
    {
        gamePlayWantages.Add(new BoardGameCollection.Web.Models.GamePlayWantage
        {
            BoardGame = Model.Select(m => m.BoardGame).First(bg => bg.Id == wantGroup.Key),
            LastModified = wantGroup.Max(g => g.LastModified),
            Owners = wantGroup.Select(g => g.Owner).ToList()
        });
    }
}

<h2>Spielwünsche von @owners</h2>

<table class="game-table">
    @foreach (var group in gamePlayWantages.GroupBy(p => new { OwnersCount = p.Owners.Count, OwnersName = p.Owners.Count > 1 ? string.Format("{0} Spieler", p.Owners.Count) : string.Format("nur {0}", p.Owners.First()) }).OrderByDescending(c => c.Key.OwnersCount))
    {
        <partial name="_GameTableGroupHeader" model="@group.Key.OwnersName" />
        @foreach (var playWantage in group.OrderByDescending(p => p.LastModified))
        {
            var item = playWantage.BoardGame;
            <tr>
                @{ var rowspan = 1; }
                <td rowspan="@rowspan" style="vertical-align:top">
                    <a href="@item.ImageUri" target="_blank">
                        <img src="@item.ThumbnailUri" />
                    </a>
                </td>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <a target="_blank" href="http://boardgamegeek.com/boardgame/@item.Id" style="text-decoration: none">@Html.DisplayFor(modelItem => item.Title) <small>(@playWantage.BoardGame.YearPublished)</small></a> (@string.Format(CultureInfo.InvariantCulture, "{0:0.00}", item.AverageRating))
                            </td>
                            <td style="text-align: right">
                                @foreach (var owner in playWantage.Owners)
                                {
                                    <a target="_blank" href="http://www.boardgamegeek.com/collection/user/@owner" style="text-decoration: none"><small>@owner</small></a><br />
                                }
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <partial name="_PlayerNumbers" model="item" />
                </td>
            </tr>
        }
    }

</table>
