<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.ApplicationNameAbbr @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/collection.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">@Constants.ApplicationName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var link in new (string displayName, string actionName, string userName)[] {
                             ("Florian", "Owned", "kuhlschrank"),
                             ("Andreas", "Owned", "cemon"),
                             ("Thomas", "Owned", "the_happy_llama"),
                             ("Alle", "Owned", ""),
                             ("Wunschlisten", "Wishlist", ""),
                             ("Spielewünsche", "WantToPlay", ""),
                         })
                        {
                            <li class="nav-item">@Html.ActionLink(link.displayName, link.actionName, new { username = link.userName }, new { @class = "nav-link text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="player-filter" style="display:flex;">
                <span class="nav-link text-dark">best with:</span>
                @{
                    var activeBestWith = Context.Request.Query["bestWith"].ToString();
                }
                <a class="nav-link text-dark@(activeBestWith == "" ? " active" : "")" href="?bestWith=">off</a>
                @foreach (var bestWith in Enumerable.Range(2, 7))
                {
                    <a class="nav-link text-dark@(activeBestWith == bestWith.ToString() ? " active" : "")" href="?bestWith=@bestWith">@bestWith</a>
                }
            </div>
            <div class="page-body">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year.ToString() - @Constants.ApplicationName
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
